
.header {
  text-align: center;
  color: #212121;
  font-family: 'Black Ops One', cursive;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

.the {
  font-size: 5vw;
  font-weight: 1000;
  margin: 0;
}

.wilder {
  font-size: 8vw;
  font-weight: 1000;
  margin: 0;
  animation: blur 2s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff;
}
  @keyframes blur {
    from {
      text-shadow:0px 0px 10px #fff,
        0px 0px 10px #fff, 
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #7B96B8,
        0px 0px 150px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px -10px 100px #7B96B8,
        0px -10px 100px #7B96B8;
    }
}

.firstTitle {
  font-size: 5vw;
  font-weight: 1000;
}

.secondTitle {
  font-size: 4vw;
  width: 90%;
  padding: 1vw;
  justify-content: center;
  border: 1vw solid red;
  margin: 0 auto;
}

.insideBorder {
  margin: 0 auto;
}

.contributors {
  padding-top: 50px;
}
.contributorsTop {
  display: flex;
  justify-content: space-around;
  font-size: 2vw;
  text-shadow: red 1px 0 5px;
}
.contributorsBottom {
  display: flex;
  justify-content: space-around;
  font-size: 2vw;
  text-shadow: red 1px 0 5px;
}

.axel {
  padding-left: 1.5vw;
  text-shadow: red 1px 0 5px;
}

.thomas {
  padding-right: 1.5vw;
  text-shadow: red 1px 0 5px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
body {
  background-image:url("https://i.imgur.com/ezji6lY.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
p.intro{
  text-align: center;
  font-size: 28px;
  font-style: oblique;
  background-image:url('https://image.freepik.com/photos-gratuite/texture-blanche-papier-froisse-pour-arriere-plan_1373-159.jpg');
  padding:15px;
  margin-bottom: 80px;
  border-radius: 12px;
  box-shadow:inset 0 0 1em rgb(54, 54, 54), 0 0.2em 0.5em rgb(34, 34, 34);
  text-shadow: 1px 1px 2px rgb(95, 91, 91); 
}
section {
  width: 80%;
  margin: 20px auto;
  position: relative;
}
section:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 100%;
  background: rgba(255,255,255,0.2);
}
section article {
  width: 100%;
  margin: 0 0 20px 0;
  position: relative;
  margin-bottom: 100px;
}
section article:after {
  content: '';
  display: block;
  clear: both;
}
section article div.inner {
  width: 40%;
  float: left;
  margin: 5px 0 0 0;
  border-radius: 6px;
}
section article span {
  display: block;
  width: 60px;
  height: 50px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -32px;
  border-radius: 100%;
}
 #step1{
  background-image: url("https://images.unsplash.com/photo-1570374953872-7ede4492beb1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-size: cover;
  box-shadow:inset 0 0 1em rgb(54, 54, 54), 0 0 0.5em rgb(34, 34, 34);
}
 #step2{
  background: #929191;
  background-image: url("https://images.unsplash.com/photo-1570374953872-7ede4492beb1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-size: cover;
  box-shadow:inset 0 0 1em rgb(54, 54, 54), 0 0 0.5em rgb(34, 34, 34);
}
 #step3{
  background: #929191;
  background-image: url("https://images.unsplash.com/photo-1570374953872-7ede4492beb1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-size: cover;
  box-shadow:inset 0 0 1em rgb(54, 54, 54), 0 0 0.5em rgb(34, 34, 34);
}
#step4{
  background: #929191;
  background-image: url("https://images.unsplash.com/photo-1570374953872-7ede4492beb1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-size: cover;
  box-shadow:inset 0 0 1em rgb(54, 54, 54), 0 0 0.5em rgb(34, 34, 34);
}
#step5{
  background: #929191;
  background-image: url("https://images.unsplash.com/photo-1570374953872-7ede4492beb1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-size: cover;
  box-shadow:inset 0 0 1em rgb(54, 54, 54), 0 0 0.5em rgb(34, 34, 34);
}

section article div.inner h2 {
  padding: 15px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;
  position: relative;
  background-image:url('https://image.shutterstock.com/image-photo/image-250nw-1031751409.jpg');
  box-shadow:inset 0 0 1em rgb(54, 54, 54);
  text-shadow: 1px 1px 2px rgb(65, 64, 64); 
}
section article div.inner h2:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
  	width: 10px;
	  height: 10px;
}
section article div.inner p {
  padding: 15px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  background-image:url('https://image.freepik.com/photos-gratuite/texture-blanche-papier-froisse-pour-arriere-plan_1373-159.jpg');
  color:black;
  border-radius: 0 0 6px 6px;
  box-shadow:inset 0 0 1em rgb(54, 54, 54), 0 0 0.5em black;
}
section article:nth-child(2n+2) div.inner {
  float: right;
}
section article:nth-child(2n+2) div.inner h2::after {
  left: -5px;
}

section  article div.inner h2:after {
  background:  #929191;
}


.button{
  display:inline-block;
  text-align: center;
  border:1px solid black;
  border-radius: 12px;
  padding:4px;
  margin:4px;
  text-decoration:none;
  background-color: #e9e9e9;
  box-shadow:inset 0 0 0.25em rgb(128, 129, 131);
}
.checkable{display:none;}

.checkLabel{
  border:1px solid black;
  border-radius: 12px;
  padding:4px;
  margin-top:20px;
  background: #dbdbdb;
  box-shadow: inset 0 0 0.5em rgba(255,255,255,0.2);
}
.checkLabel:hover{
  cursor:pointer;
  transition:  750ms;
  background-image:url('https://images.freeimages.com/images/large-previews/626/fire-5-1377284.jpg');
  box-shadow: inset 0 0 0.8em rgba(216, 2, 2, 0.911);
}
#check1:checked + h2,#check1:checked +h2:after{
  background-image: url("https://cdn.pixabay.com/photo/2015/02/07/07/38/structure-626876_1280.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#check2:checked + .validated,#check2:checked +h2:after{
  background-image: url("https://cdn.pixabay.com/photo/2015/02/07/07/38/structure-626876_1280.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#check3:checked + h2,#check3:checked +h2:after{
  background-image: url("https://cdn.pixabay.com/photo/2015/02/07/07/38/structure-626876_1280.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#check4:checked + h2,#check4:checked +h2:after{
  background-image: url("https://cdn.pixabay.com/photo/2015/02/07/07/38/structure-626876_1280.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#check5:checked + h2,#check5:checked +h2:after{
  background-image: url("https://cdn.pixabay.com/photo/2015/02/07/07/38/structure-626876_1280.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.outro{
  text-align: center;
  font-size: 26px;
  font-style: oblique;
  background-image:url('https://images.unsplash.com/photo-1525291713758-6c2990e200ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80');
  padding:15px;
  margin-bottom: 80px;
  border-radius: 12px;
  box-shadow:inset 0 0 1em rgb(252, 247, 0), 0 0.2em 0.5em rgb(236, 232, 0);
  text-shadow: 1px 1px 2px rgb(255, 255, 255); 
}

footer{
	position: relative;
  bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}

@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}
@media screen and (max-width:414px)  {
  .header {
background-size: 100%;
  }
  body{
    display:flex;
    flex-direction: column;
    background-size: 100%;
  }
  section article div.inner.inner{
   float:center;
   width:100%;
  }
  section article span{
    position:relative;
    float:center;
    margin-bottom:50px;
  }
  .intro{
    font-size:20px;
  }
  .outro{
      font-size:20px;
  }
}