
.header {
  text-align: center;
  background-color: #CFD8DC;
  color: #212121;
  font-family: 'Black Ops One', cursive;
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
}

.the {
  font-size: 5vw;
  font-weight: 1000;
  margin: 0;
}
.wilder {
  font-size: 8vw;
  font-weight: 1000;
  margin: 0;
}

.firstTitle {
  font-size: 5vw;
  font-weight: 1000;
}

.secondTitle {
  font-size: 4vw;
  width: 90%;
  padding: 1vw;
  justify-content: center;
  border: 1vw solid red;
  margin: 0 auto;
}

.insideBorder {
  margin: 0 auto;
}

.contributors {
  padding-top: 50px;
}
.contributorsTop {
  display: flex;
  justify-content: space-around;
  font-size: 2vw;
}
.contributorsBottom {
  display: flex;
  justify-content: space-around;
  font-size: 2vw;
}

.axel {
  padding-left: 1.5vw;
}

.thomas {
  padding-right: 1.5vw;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
body {
  background: #CFD8DC;
}
.intro{
  text-align: center;
  font-size: 28px;
  font-style: oblique;
  background-color: rgb(190, 191, 192);
  padding:15px;
  margin-bottom: 80px;
  opacity:0.8;
  border-radius: 12px;
  box-shadow: 0 0.2em 0.5em rgb(34, 34, 34);
  text-shadow: 1px 1px 2px rgb(95, 91, 91); 
}
section {
  width: 80%;
  margin: 20px auto;
  position: relative;
}
section:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 100%;
  background: rgba(255,255,255,0.2);
}
section article {
  width: 100%;
  margin: 0 0 20px 0;
  position: relative;
  margin-bottom: 100px;
}
section article:after {
  content: '';
  display: block;
  clear: both;
}
section article div.inner {
  width: 40%;
  float: left;
  margin: 5px 0 0 0;
  border-radius: 6px;
}
section article span {
  display: block;
  width: 60px;
  height: 50px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -32px;
  border-radius: 100%;
}
 #step1{
  background: #929191;
  box-shadow:inset 0 0 1em rgb(54, 54, 54), 0 0 0.5em rgb(34, 34, 34);
}
 #step2{
  background: #929191;
  box-shadow:inset 0 0 1em rgb(54, 54, 54), 0 0 0.5em rgb(34, 34, 34);
}
 #step3{
  background: #929191;
  box-shadow:inset 0 0 1em rgb(54, 54, 54), 0 0 0.5em rgb(34, 34, 34);
}
#step4{
  background: #929191;
  box-shadow:inset 0 0 1em rgb(54, 54, 54), 0 0 0.5em rgb(34, 34, 34);
}
#step5{
  background: #929191;
  box-shadow:inset 0 0 1em rgb(54, 54, 54), 0 0 0.5em rgb(34, 34, 34);
}

section article div.inner h2 {
  padding: 15px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;
  position: relative;
}
section article div.inner h2:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
  	width: 10px;
	  height: 10px;
}
section article div.inner p {
  padding: 15px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  background: #fff;
  color: #656565;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 0 0.5em black;
}
section article:nth-child(2n+2) div.inner {
  float: right;
}
section article:nth-child(2n+2) div.inner h2::after {
  left: -5px;
}
section  article div.inner h2 {
  background: #929191;
  box-shadow:inset 0 0 1em rgb(54, 54, 54);
}
section  article div.inner h2:after {
  background:  #929191;
}


.button{
  display:inline-block;
  text-align: center;
  border:1px solid black;
  border-radius: 12px;
  padding:4px;
  margin:4px;
  text-decoration:none;
  background-color: #e9e9e9;
  box-shadow:inset 0 0 0.25em rgb(128, 129, 131);
}
.checkable{display:none;}

.checkLabel{
  border:1px solid black;
  border-radius: 12px;
  padding:4px;
  margin-top:20px;
  background: #dbdbdb;
  box-shadow: inset 0 0 0.5em rgba(255,255,255,0.2);
}
.checkLabel:hover{
  cursor:pointer;
  transition:  750ms;
  background: #02e602;
  box-shadow:inset 0 0 0.2em rgb(0, 102, 17);
}
#check1:checked + h2,#check1:checked +h2:after{
  background: #02e602;
  box-shadow:inset 0 0 1em rgb(0, 102, 17);
}
#check2:checked + .validated,#check2:checked +h2:after{
  background: #02e602;
  box-shadow:inset 0 0 1em rgb(0, 102, 17);
}
#check3:checked + h2,#check3:checked +h2:after{
  background: #02e602;
  box-shadow:inset 0 0 1em rgb(0, 102, 17);
}
#check4:checked + h2,#check4:checked +h2:after{
  background: #02e602;
  box-shadow:inset 0 0 1em rgb(0, 102, 17);
}
#check5:checked + h2,#check5:checked +h2:after{
  background: #02e602;
  box-shadow:inset 0 0 1em rgb(0, 102, 17);
}
.contributors{
    border-bottom: 2.5px solid;
    border-color: linear-gradient(grey, Black);
}
.responsiveLabel {display:none;}
@media screen and (max-width:414px)  {
    .inner {
      display:none;
      
    }
    #responsiveButton4{
      display:block;
    }
    #responsiveButton4:checked + div.inner {
      display:block;
      width:100%;
    }

}